body {
    font-family: Arial;
    font-size: 20px;
    line-height: 1.5;
    color: green;
}
.title {
    font-family: Georgia;
    text-align: center;
    font-weight: bold;  
    color: mediumvioletred;
    letter-spacing: 14px;
}
.justify {
    text-align: justify;
}
.relises {
    text-align: right;
    font-size: 15px;
    font-weight: 600;
    list-style-type: disc;
    list-style-position: inside;
}
.table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}
.table th {
    text-align: right;
    padding: 5px 10px 8px 15px;
    color: brown;
}
.table td {
    border: 1px dashed black;
    padding: 5px 10px 8px 15px;
}
