body {
    font-family: Arial;
    font-size: 20px;
    line-height: 1.5;
    color: green;
   
}
.title {
    font-family: Georgia;
    text-align: center;
    font-weight: bold;  
    color: mediumvioletred;
    letter-spacing: 14px;
}
.justify {
    text-align: justify;
}
.relises {
    text-align: right;
    font-size: 15px;
    font-weight: 600;
    list-style-type: disc;
    list-style-position: inside;
}
.table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}
.table th {
    text-align: right;
    padding: 5px 10px 8px 15px;
    color: brown;
}
.table td {
    border: 1px dashed black;
    padding: 5px 10px 8px 15px;
}
.text-red {
    color: teal;
    font-style: italic;
    font-weight: 700;
}
.content {
    margin: 10px 20px 30px 10px;
}
/* POST */
.post {
    width: 700px;
    height: 600px;
    padding: 15px 25px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid yellow;
    background-color: peru;
}
.post-title {
    margin: 0;
    color: palegreen;

}
.post-text p {
    margin: 0 0 10px 0;
}